# Node modules
node_modules/

# macOS system files
.DS_Store

# Evidence cache / temp
.evidence/
.evidence/meta
.evidence/template

# SvelteKit build
.svelte-kit
build

# VS Code local settings
.vscode/
.vscode/settings.json

# Static data (si quieres regenerarla o no versionarla)
static/data

# Environment variables
.env
